
  <div class='foot-section' id="footer-navigation">
      <h2 class='label'>
        Navigation:
      </h2>

      <div class='section'>
          <div class='foot-nav-link'>
              <a href="{% post_url 2017-01-01-about-primal-now %}">About Primal Now</a>
          </div>
          <div class='foot-nav-link'>
               <a href="{% post_url 2017-01-02-what-is-primal-now %}">What is The Primal Now</a>
          </div>
          <div class='foot-nav-link'>
              <a href="/all-posts">All Posts</a>
          </div>

      </div>
  </div>


  <div class='foot-section'>

      <h2 class='label'>
        Introduction:
      </h2>
      <div class='section'>
        <div class='about-us'>
          This is a blog about discovering God, and discovering the self. About mindfulness, awareness, and consciousness.
          This is a blog about being happy, and living a meaningful, and successful life. [Read More...]({{ post_url 2017-01-01-about-primal-now}})
        </div>
      </div>
  </div>


  <div class='foot-section'>
      <h2 class='label'>
        Contacts:
      </h2>
      <div class='section'>
        <div class='foot-contact'>Contact: <a href="/contact">Contact Form</a></div>
        <div class='foot-contact'>Email: <a href="mailto:primalnowblog@gmail.com" target="_blank">primalnowblog@gmail.com</a></div>
        <div class='foot-contact'>Facebook: <a href="http://fb.com/primalnow" target="_blank">@PrimalNow</a></div>
        <div class='foot-contact'>Twitter: <a href="http://twitter.com/primalnow" target="_blank">@PrimalNow</a></div>
        <div class='foot-contact'>Instagram: <a href="http://instagram.com/primalnow" target="_blank">@PrimalNow</a></div>
      </div>
  </div>

  <div class='foot-section'>
      <h2 class='label'>
        Subscribe:
      </h2>
      <div class='section'>
        <div class='foot-contact'>Feed:  <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></div>
        <!-- <div class='foot-contact'>Mailing List:  <a href="{{ "mailing-list" | relative_url }}">via MailChimp</a></div> -->
        <!-- <div class='foot-contact'>Push Notifications:  <a href="{{ "/feed.xml" | relative_url }}">via Push</a></div> -->
      </div>
  </div>
