
aa
    {% if page.canonical-url == nil %}
        {% capture canonical %}{{ site.url }}
            {% if site.permalink contains '.html' %}
                {{ page.url }}
            {% else %}
                {{ page.url | remove:'index.html' | strip_slash }}
            {% endif %}
        {% endcapture %}
    {% else %}
        {% assign canonical = page.canonical-url %}
    {% endif %}
    <link rel="canonical" href="{{ canonical }}">

dd

    {% if page.canonical == nil %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
    {% else %}
    <link rel="canonical" href="{{ page.canonical }}"/>
    {% endif %}
eeee
