

<div class='homepage-recent-blurbs'>
  <div class='banner'>Recent Posts</div>

      {% for post in site.posts limit:4 offset:1 %}
      {% assign thispost = post %}


        <div class='recent-post-blurb'>
            {% include post-title.html page-type='XXpost' %}
          <div class="description">{{ post.description }}</div>
          <div class='read-more'>
              <a href="{{ thispost.url | relative_url }}">Read this post</a>
          </div>
        </div>
      {% endfor %}


</div>
