

<div class="homepage-latest-post post">
  {% assign thispost = site.posts.first %}
  <div class='banner'>Latest Post</div>

{% include post-title.html %}


    {% if thispost.description %}
        {% assign desc =  thispost.description %}
    {% else %}
        {% assign desc =  thispost.excerpt %}
    {% endif %}

    {% assign desc =   desc | truncate: 160, '...'  %}

    {% assign descsize = desc.size %}
    {% if descsize < 140 %}
        {% assign desc =   desc | append: '---' %}
    {% endif %}



        <div class="excerpt">{{ desc }}</div>

      <div class='continue'>
        <a href="{{ root_url }}{{ thispost.url }}">Continue Reading</a>
      </div>

</div>
