
  {% assign named_image_exists = 0 %}


  {% if thispost.image %}


    {% assign featuredimage =  '/media/featured-images/' | append: thispost.image   %}
        {% for static_file in site.static_files %}
                    {% if static_file.path == featuredimage  %}
                        {% assign named_image_exists = 1 %}
                        {% break %}
                    {% endif %}
        {% endfor %}
  {% endif %}




{% if include.page-type != 'post' %}
  <a href="{{ thispost.url | relative_url }}">
{% endif %}
        {% if named_image_exists == 1 %}
              <div id="featured-image">
                <img src ="{{ featuredimage }}">
              </div>
              <h1 class="title">
                 {{ thispost.title }}
              </h1>
        {% else %}
          <div id="featured-image-banner">
              <div>
               {{ thispost.title }}
              </div>
          </div>
        {% endif %}
{% if zone != 'post' %}
  </a>
{% endif %}
