
          <div id="top-menu-bar">
            <div id="top-menu">
                <span class='top-menu-item blank'></span>
                <span class='top-menu-item '>
                  <a href='{{ site.url  }}' class='home'>Home</a>
                </span>
                <span class='top-menu-item '>
                  <a href='' class='menu '>Menu</a>
                </span>
                <span class='top-menu-item '>
                  <a href='' class='allposts  '>All Posts</a>
                </span>
                <span class='top-menu-item blank'></span>
            </div>
          </div>