

body {
  font-family: 'Merriweather', serif;
  font-size: 18px;
  font-weight: lighter;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
}


a:visited {
    color: #c70818;
    font-weight: regular;
}

a {
    color: red;
    text-decoration: none;
}



h1, h2, h3, h4 {
  margin: 0;
}


h1 {
    font-size: 2em;
    color: $brand-color;
}
h2 {
       font-size: 1.5em;
    text-decoration: underline;
    margin-bottom: 10px;
}
h3 {
  font-size: 1.2em;
}





#fq_container {
    max-width: 1000px;
    border: 1px solid #b7b7b7;
    margin: $gutter auto;
    padding: 0 $gutter;
    padding-bottom: 0;
    box-shadow: 0 0 4px #afafaf;
    
    padding: 0;
}






.main-unit {
    border: 1px solid #ffffff;
    margin: $gutter 0;
    padding: 20px;
    box-shadow: 0px 0px 3px #3e3e3e;
    
    margin: 5px;
    margin-bottom: 20px;
    background: #fdfdfd;
}

main.main-unit {
    padding: 0;
    border: 0;
    background: #fff;
}



.site-header {
    background: beige;
    
}

.post-content p {
}

header.site-header {
    background: #eaeaea;
}


.main-unit.logo {
    box-shadow: none;
}

.fq-headbar {
  text-align: center;
    a {
    }
      
    .banner {
    }
    .logo {
        img {
          width: 100px;
        }
     }
}





.post-content {
  background: none;
  
  p {
    text-align: justify;
    width: 94%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}





#fq-footer {
  .foot-section {
    h2 {
      color: $brand-color;
      margin: 10px auto;
      margin-top: 30px;
      text-decoration: underline;
      font-size: 1.3em;
     
     }
     .section {
      margin-left: 20px;
     }
  }
}






#copyright , #top-blurb {

    background: #f1f1f1;
    color: $brand-color;
    padding: $gutter 0;
    text-align: center;
    font-size: .8em;

    margin: 0 $ungutter;
    border: none;
    box-shadow: none;
    
    margin: 0 auto;
}











.homepage-latest-post {
    border: 1px solid #000;
    margin: 10px auto;
    
    .banner {
        text-align: center;
        background: $brand-color;
        font-size: 1.5em;
        padding: $gutter;
        color: #fff;
        text-transform: uppercase;
        vertical-align: middle;
        height: 60px;
        line-height: 60px;
        padding: 0;
        
    }
    

    .title {
      padding: 10px;
      margin-top: 20px;
      a {
        color: $title-color;
      }
    }

    .excerpt {
        padding: 10px;
        background: #e8e8e8;
         border: 1px solid #000;
       margin: 10px;
    }

    .content {
        width: 95%;
        margin: 10px auto;
    }    
    .continue {
      text-align: right;
      
      button {
        margin-right: 20px;
        font-size: .6em;
        text-transform: uppercase;
        padding: 10px;
      }
    }
}






.homepage-recent-posts {
  
    .banner {
      font-size: 1.3em;
      font-weight: bold;
      color: $brand-color;
      border-bottom: 1px solid $brand-color;
      margin-bottom: 20px;
    }

    .recent-post{
      margin: 10px 0px 20px 40px;
      border-left: 5px solid $brand-color;
      padding: 0 0 0 15px;
    }
  
    .title {
          margin: 0;
    font-weight: bold;
    font-size: 1em;
    }
    
    .excerpt {
      padding-left: 15px;
    }
    
}






#top-menu-bar {
  border-bottom: 2px solid #f9edbe;
  //background: azure;
  margin:10px auto;


      #top-menu {
          padding: 0;
          margin:  0;
          display: table;
          border-collapse: separate;
          border-spacing: 2px 0;
          width: 100%;
          
          .top-menu-item {
              height: 40px !important;
              background: #f9edbe;
              border-radius: 10px 10px 0px 0px;
              text-align: center;
              display: table-cell;
              vertical-align: middle;
              font-size: .8em;
              width: 100px;
              margin: 1px;
              box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08) inset;
              
              .blank {
                width: auto;
              }
              
              a {
                color: #000
              }
              a:visited {
                color: #000;
              }
              a:hover {
                text-decoration: underline;
              }
          }
          
          .top-menu-item.blank {
            width: auto !important;
            border: none;
            background: none !important;
            box-shadow: none;
          }

      }
}
      
      