

.all-posts {
    display: table;
    border-collapse: separate;
    border-spacing: 0 1px;
    background: #ccc;
    font-size: .9em;
    .post {
        display: table-row;;

        span {
            display: table-cell;
            padding: 0 7px;
            background: #fff;
        }
        .date {
            white-space: nowrap;
            text-align: left;
        }
        .title {
            text-align: left;
        }
        .categories {
            text-align: right;

        }
    }
}




.quotation {
    float: right;
    max-width: 300px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.53);
    margin: 5px 0px 30px 30px;
}



.amazon-item.inset {
    margin-left: 0;
    float: left;
}









    .recent-post-blurb{
        width: 48%;
        border: 1px solid $brand-color;
        margin-bottom: 20px;

        .title {
            margin: 10px;
        }
        .description {
            margin: 15px 20px;
        }
        .read-more {
            div {
                margin: 10px;
            }
        }

    }
    .recent-post-blurb:nth-child(odd) {
        float: right;
        clear: right;
    }
    .recent-post-blurb:nth-child(even) {
        float: left;
        clear: left;
    }
