
  body{
    background: #f3f3f3;
    margin: 0px;
  }
  
  .main-unit {
    padding: 3px;
	    background: white;
    border: 1px solid #ccc;
	box-shadow: none;
  }

	.main-unit.logo {
		box-shadow: none;
		border: none;
		background: none;
		margin: 20px auto;
	}


  
  #fq_container {
        padding: 0 5px;
    border: none;
    box-shadow: none;
    margin: 0px auto;
	padding: 0;
  }
  
  .page-content {
    padding: 0;
    border: none;
    box-shadow: none;
	    margin-left: 3px;
    margin-right: 3px;
  }

    
  #latest-post {
      margin: 40px 0 100px 0;
      padding: 0;
      background: #fffbf5;

  }

  
  .homepage-latest-post {
    border: 0;
    padding: 0;
    margin: 0;

      .excerpt {
        //margin: 10px;
      }

  }

  header.site-header {
  }



	.fq-headbar .logo img {
		width: 60px;
	}
	
	#copyright , #top-blurb {
	
		//padding: 10px;
		margin: 0 ;
	
	}