
  body{
    //background: #f3f3f3;
    margin: 0px;
  }

  .main-unit {
    padding: 3px;
	    //background: white;
    border: 1px solid #ccc;
	box-shadow: none;
  }

	.main-unit.logo {
		box-shadow: none;
		border: none;
		//background: none;
		margin: 20px auto;
	}



  #fq_container {
        padding: 0 5px;
    //border: none;
    box-shadow: none;
    margin: 0px auto;
	padding: 0;
  }

  .page-content {
    padding: 0;
    border: none;
    box-shadow: none;
	    margin-left: 3px;
    margin-right: 3px;
  }


  #latest-post {
      margin: 40px 0 100px 0;
      padding: 0;
      //background: #fffbf5;



      .title {
          font-size: 1.6em;
          line-height: 1.3em;
          text-align: center;
      }
  }


  .homepage-latest-post {
    border: 0;
    padding: 0;
    margin: 0;

      .excerpt {
        //margin: 10px;
      }

  }

  header.site-header {
  }



	.fq-headbar .logo img {
		width: 60px;
	}

	#copyright , #top-blurb {

		//padding: 10px;
		margin: 0 ;

	}





.post-content {
  margin: 20px;
}






.all-posts {
    .post {
        margin-bottom: 20px;
        .date {
            display: block;;
        }
        .title {
            display: block;
            text-indent: 20px;
            color: #888;
        }
        .categories {
            display: block;
            text-indent: 30px;
            color: #888;
        }
    }
}


.quotation {
    border: 1px solid #000;
    border-width: 1px 0;
    margin: 40px 0;
}




#featured-image-banner div {
    font-size: 30px;
}



article.post h1 {
    text-align: center;
    margin: 30px 10px 10px 10px;
    line-height: 130%;
    font-size: 150%;
}



blockquote {
    margin-left: 5px;
}



.top-menu-item {
    font-size: .9em;
}





.post-description {
    margin: 0px;
    border: 0;
}





.homepage-recent-blurbs {


    .recent-post-blurb{
        margin-bottom: 30px;
    }
    .recent-post-blurb:last-child {
        margin-bottom: 10px;
    }
}
