
  body{
    background: #f3f3f3;
    margin: 0px;
  }
  
  .main-unit {
    padding: 3px;
	    background: white;
    border: 1px solid #ccc;
	box-shadow: none;
  }
  
  #fq_container {
        padding: 0 5px;
    border: none;
    box-shadow: none;
    margin: 10px auto;
  }
  
  .page-content {
    padding: 0;
    border: none;
    box-shadow: none;
  }

    
  #latest-post {
      margin: 40px 0 100px 0;
      padding: 0;
      background: #fffbf5;

  }

  
  .homepage-latest-post {
    border: 0;
    padding: 0;
    margin: 0;

      .excerpt {
        //margin: 10px;
      }

  }

  header.site-header {
  }





#copyright , #top-blurb {


    margin: 0 ;

}