<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

        {% include logo-bar.html %}
  

        {% include top-menu.html %}

    <div id='fq_container' class=''>

            
        {% include top-blurb.html %}


          <!--<main class="page-content main-unit" aria-label="Content">-->
            <!--<div class="wrapper">-->
              {{ content }}
            <!--</div>-->
          <!--</main>-->
          
          
          <div id='fq-footer'  class='main-unit'>
          {% include footer.html %}
          </div>
          
          
          <div  class='main-unit'>
          {% include mailchimp-slim.html %}
          </div>
          
          
          
          
          <div id='copyright'>
            Copyright &copy; PrimalNow.com - All rights reserved
          </div>
          
          

    </div>


  </body>

</html>
